In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

In [3]:
x = Gizmo()

Gizmo id: 137704030378288

In [5]:
y = Gizmo() * 10

Gizmo id: 137704030387024

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [6]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [7]:
charles = {'name': 'Charles L. Dogson', 'born' : 1832}
lewis = charles
lewis is charles

True

In [8]:
id(charles), id(lewis)

(137704381163008, 137704381163008)

In [9]:
lewis['balance'] = 950 # lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dogson', 'born': 1832, 'balance': 950}

In [10]:
alex = {'name': 'Charles L. Dogson', 'born': 1832, 'balance' : 950}
alex == charles

True

In [11]:
alex is charles

False

In [12]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [13]:
id(t1[-1])

137704031168064

In [14]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 137704031168064)

In [15]:
t1 == t2

False

In [16]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [17]:
l2 == l1

True

In [18]:
l2 is l1

False

In [19]:
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [20]:
l2[1] += [33,22]
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [21]:
class Bus:
    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [22]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(137704381021104, 137703970663936, 137703970663456)

In [23]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [24]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)
# bus1과 bus2가 동일 리스트를 공유한다. 반면 bus3는 다른 리스트를 가리킨다.

(137703970727232, 137703970727232, 137704380873856)

In [25]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [26]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [27]:
def f(a,b):
    a += b
    return a

In [28]:
a = [1,2]
b = [3,4]
f(a,b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [ ]:
x = 1
y = 2
f(x,y), (x, y)

In [29]:
t = (10,20)
u = (30, 40)
f(t,u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [30]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    def __init__(self, passengers = []):
        # []가 intepret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게 되어 오류 발생
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [33]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [34]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [35]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [36]:
bus3 = HauntedBus()
bus3.passengers # 초기값이 더이상 empty가 아님!

['Carrie']

In [37]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [38]:
bus2.passengers is bus3.passengers

True

In [39]:
bus1.passengers

['Bill', 'Charlie']

In [40]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [41]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers
# bus2.passengers가 HauntedBus.__init__.__defaultes__[0]에 바인딩된 별명임을 알 수 있다.

True

In [46]:
class TwhilightBus:
    """승객이 사라지게 만다는 버스 모델"""

    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [47]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwhilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [48]:
class TwhilightBus:
    """승객이 사라지게 만다는 버스 모델"""

    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [49]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwhilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [54]:
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [55]:
del s1
ender.alive

True

In [56]:
s2 = 'spam'

Gone with the wind...

In [57]:
ender.alive

False